#port on which the server starts 
PORT=

#secret for jwt sign gunction 
SECRET_KEY=

#front-end url
CLIENT_URL=

#url to the mail server
MAILER_URL = smtps://user@domain.com:pass@smtp.domain.com

#url to database (if using docker postres container specify postgres instead of host)
DATABASE_URL = postgres://username:password@host:port/db_name

#env for docker postgres container
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_PASSWORD=
