<html lang="en">
  <head>
    <style>
      body { margin: 0px; padding: 0px; } .headDiv { width: 100%; height: 40px;
      background: #F9FAFB; text-align: center; font-family: 'Roboto',
      sans-serif; font-size: 1.5em; } p{ font-family: 'Roboto', sans-serif; }
    </style>
  </head>
  <body>
    <p class="headDiv">Code verification</p>
    <p> {{payload}} — your authorization code.</p>
    <p>Best Regards, SmartBudget,</p>
  </body>
</html>